header {
  display: flex;
  max-width: 1200px;
  height: 100px;
  background-color: #fff;
}

figure img {
  width: 100px;
  height: 90px;
  margin-left: 90px;
  padding-bottom: 15px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul {
  display: flex;
  gap: 40px;
  margin-top: 35px;
  margin-left: 100px;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #6c7179;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px;
}

.boton-regular {
  margin-top: 30px;
  margin-left: 110px;
  width: 120px;
  height: 40px;
  border: 2px orange solid;
  border-radius: 5px;
  background-color: white;
}
.boton-regular a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}

#iconomenu {
  display: none;
}

footer {
  display: flex;
  height: 100px;
}
footer .info-footer {
  width: 300px;
  margin-left: 50px;
  margin-bottom: 15px;
  color: #6c7179;
}
footer .info-footer p {
  font-size: 10px;
}
footer .contenedor-redes {
  margin: 25px 50px 0px 800px;
  font-size: 22px;
}
footer .contenedor-redes a {
  color: #6c7179;
}
footer .contenedor-redes p {
  font-size: 18px;
  color: #6c7179;
}

.contenedor-adopcion {
  background-image: url(../images/web-adopcion-mascotas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-end;
}
.contenedor-adopcion h1 {
  margin-top: 130px;
  margin-right: 200px;
  margin-left: 250px;
  text-align: center;
  font-size: 30px;
  width: 500px;
  color: #fff;
}

#quienes-somos {
  display: flex;
}

.quienes-img {
  background-color: #ffa500;
  position: absolute;
  margin-top: 100px;
  margin-left: 200px;
}

.quienes-img img {
  width: 500px;
  height: 400px;
  position: relative;
  top: 50px;
  left: 40px;
}

.quienes-texto {
  width: 400px;
  height: 400px;
  margin-left: 800px;
  margin-top: 200px;
  text-align: center;
}

.blog-texto {
  text-align: center;
  margin-top: 60px;
}

.contenedor-info {
  display: flex;
  width: 1120px;
  height: 350px;
  margin: 100px;
  margin-top: 25px;
  background-color: rgb(243, 235, 198);
}

.contenedor-info img {
  width: 300px;
  height: 200px;
  margin-left: 200px;
  margin-top: 40px;
}

.contenedor-info p {
  text-align: left;
  margin-top: 80px;
  margin-left: 100px;
  height: 120px;
}

.seguir-leyendo, .link2, .link {
  display: flex;
  flex-direction: row;
  margin-top: 280px;
  margin-right: 100px;
  width: 150px;
}
.seguir-leyendo a, .link2 a, .link a {
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  color: #f0a00c;
}

.actividades-info {
  margin-top: 50px;
}
.actividades-info h1 {
  text-align: center;
}

.contenedor-actividad {
  display: flex;
  width: 1120px;
  height: 300px;
  margin: 100px;
  margin-top: 25px;
  background-color: rgb(243, 235, 198);
}
.contenedor-actividad img {
  width: 300px;
  height: 200px;
  margin-left: 200px;
  margin-top: 40px;
}
.contenedor-actividad p {
  text-align: left;
  margin-top: 80px;
  margin-left: 100px;
}

.link {
  margin-top: 230px;
}

.contenedor-perrito {
  background-image: url(../images/perrito\ con\ bolsa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: flex-end;
}

.contenedor-perrito h1 {
  margin: 200px 700px 0px 100px;
  text-align: center;
  width: 550px;
  color: #fff;
}

.adopta-canino {
  text-align: center;
  margin: 20px;
}

.contenedor-adopciones {
  display: flex;
  justify-content: space-evenly;
}

.info-canino {
  margin: 0px 20px 15px 50px;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 300px;
  height: 450px;
}

.info-canino img {
  width: 270px;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

.info-canino p {
  margin-left: 18px;
  width: 250px;
  text-align: center;
}

.link2 {
  margin-top: 15px;
  margin-left: 96px;
}

.boton-contenedor {
  display: flex;
  justify-content: center;
  margin-right: 140px;
  margin-bottom: 30px;
}

header {
  display: flex;
  max-width: 1200px;
  height: 100px;
  background-color: #fff;
}

figure img {
  width: 100px;
  height: 90px;
  margin-left: 90px;
  padding-bottom: 15px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul {
  display: flex;
  gap: 40px;
  margin-top: 35px;
  margin-left: 100px;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #6c7179;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px;
}

.boton-regular {
  margin-top: 30px;
  margin-left: 110px;
  width: 120px;
  height: 40px;
  border: 2px orange solid;
  border-radius: 5px;
  background-color: white;
}
.boton-regular a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}

#iconomenu {
  display: none;
}

footer {
  display: flex;
  height: 100px;
}
footer .info-footer {
  width: 300px;
  margin-left: 50px;
  margin-bottom: 15px;
  color: #6c7179;
}
footer .info-footer p {
  font-size: 10px;
}
footer .contenedor-redes {
  margin: 25px 50px 0px 800px;
  font-size: 22px;
}
footer .contenedor-redes a {
  color: #6c7179;
}
footer .contenedor-redes p {
  font-size: 18px;
  color: #6c7179;
}

.titulo-contacto {
  text-align: center;
}

.mail {
  width: 900px;
  height: 400px;
  display: flex;
}

.mail figure {
  margin: 20px 0px 0px 200px;
}

.mail figure img {
  width: 300px;
  height: 200px;
}

.mail p {
  margin: 30px 0px 0px 200px;
  width: 200px;
}

.redes-sociales {
  width: 900px;
  height: 400px;
  display: flex;
}

.redes-sociales figure {
  margin: 20px 0px 0px 200px;
}

.redes-sociales figure img {
  width: 300px;
  height: 200px;
}

.iconos-redes {
  width: 400px;
  height: 200px;
  margin: 25px 0px 0px 200px;
}

.fb-in {
  margin: 10px 0px 15px 0px;
  font-size: 22px;
  width: 200px;
  text-align: center;
}

.fb-in a {
  color: black;
}

.whats {
  margin: 15px 0px 5px 0px;
  font-size: 22px;
  width: 200px;
  text-align: center;
}

.whats a {
  color: black;
}

.recursos-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#imgrec {
  display: grid;
  width: 900px;
  height: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 150px;
}

.cuadro-rec {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 3px 1px #334155;
  width: 300px;
  height: 250px;
  padding-top: 10px;
  border-radius: 3px;
  background-color: rgb(243, 235, 198);
}
.cuadro-rec img {
  margin-top: 5px;
  width: 150px;
  height: 100px;
}
.cuadro-rec p {
  width: 200px;
  text-align: center;
}

.link3 {
  margin-top: 5px;
}
.link3 a {
  color: orange;
  font-size: 11px;
}

.cuadro-hab p {
  margin-top: 5px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
