* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    max-width: 1200px;
    height: 100px;
    background-color: #fff;
}

figure img {
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
nav ul {
    display: flex;
    gap: 40px;
    margin-top: 25px;
    margin-left: 200px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #6c7179;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px;
}
.boton-regular {
    margin-top: 20px;
    margin-left: 200px;
    width: 150px;
    height: 30px;
}
.boton-regular a {
    text-decoration: none;
    color: black;
}
#iconomenu {
    display: none;
}
/*INDEX*/
 .contenedor-adopcion {
    background-image: url(../images/web-adopcion-mascotas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: flex-end;
}
.contenedor-adopcion h1 {
    margin-top: 130px;
    margin-right: 200px;
    margin-left: 250px;
    text-align: center;
    font-size: 30px;
    width: 500px;
    color: #fff;
}
#quienes-somos {
    display: flex;
}
.quienes-img {
    background-color: orange;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}
.quienes-img img {
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 40px;
}
.quienes-texto {
    width: 400px;
    height: 400px;
    margin-left: 800px;
    margin-top: 200px;
    text-align: center;
}
.blog-texto {
    text-align: center;
    margin-top: 60px;
}

.contenedor-info {
    display: flex;
    width: 1120px;
    height: 300px;
    margin: 100px;
    margin-top: 25px;
    background-color: rgb(243, 235, 198);
}
.contenedor-info img {
    width: 300px;
    height: 200px;
    margin-left: 200px;
    margin-top: 40px;
}
.contenedor-info p {
    text-align: left;
    margin-top: 80px;
    margin-left: 100px;
}
.contenedor-info a {
    margin-top: 190px;
    margin-right: 100px;
}
/* FIN ELEMENTOS EXCLUSIVOS DEL INDEX*/
footer {
    display: flex;
    height: 100px;
}
.info-footer {
    width: 300px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #6c7179;
}
.info-footer p {
    font-size: 10px;
}
.contenedor-redes {
    margin: 25px 50px 0px 800px;
    font-size: 22px;
}
.contenedor-redes a {
    color: #6c7179;
}
.contenedor-redes p {
    font-size: 18px;
    color: #6c7179;
}
/* RECURSOS */
.recursos-grid {
    margin: 40px 0px 40px 200px;
    display: flex;
    justify-content: center;
    width: 1000px;
    background-color: rgb(243, 235, 198);
}
/* ACTIVIDADES*/
.actividades-info {
    margin-top: 50px;
}
.actividades-info h1 {
    text-align: center;
}
.contenedor-actividad {
    display: flex;
    width: 1120px;
    height: 300px;
    margin: 100px;
    margin-top: 25px;
    background-color: rgb(243, 235, 198);
}
.contenedor-actividad img {
    width: 300px;
    height: 200px;
    margin-left: 200px;
    margin-top: 40px;
}
.contenedor-actividad p {
    text-align: left;
    margin-top: 80px;
    margin-left: 100px;
}
.contenedor-actividad a {
    margin-top: 190px;
    margin-right: 100px;
}
/*CONTACTO */
.titulo-contacto {
    text-align: center;
}
.mail {
    width: 900px;
    height: 400px;
    display: flex;
}
.mail figure {
    margin: 20px 0px 0px 200px;
}
.mail figure img {
    width: 300px;
    height: 200px;
}
.mail p {
    margin: 30px 0px 0px 200px;
    width: 200px;
}
.redes-sociales {
    width: 900px;
    height: 400px;
    display: flex;
}
.redes-sociales figure {
    margin: 20px 0px 0px 200px;
}
.redes-sociales figure img {
    width: 300px;
    height: 200px;
}
.iconos-redes {
    width: 400px;
    height: 200px;
    margin: 25px 0px 0px 200px;
}
.fb-in {
    margin: 10px 0px 15px 0px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}
.fb-in a {
    color: black;
}
.whats {
    margin: 15px 0px 5px 0px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}
.whats a {
    color: black;
}
/*ADOPCIONES */
.contenedor-perrito {
    background-image: url(../images/perrito\ con\ bolsa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: flex-end;
}
.contenedor-perrito h1 {
    margin: 200px 700px 0px 100px;
    text-align: center;
    width: 550px;
    color: #fff;
}
.adopta-canino {
    text-align: center;
    margin: 20px;
}
.contenedor-adopciones {
    display: flex;
    justify-content: space-evenly;
}
.info-canino {
    margin: 0px 20px 15px 50px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 300px;
    height: 450px;
}
.info-canino img {
    width: 270px;
    height: 200px;
    margin: 10px;
    padding: 5px;
}
.info-canino p {
    margin-left: 15px;
    width: 250px;
    text-align: center;
}
.info-canino a {
    text-align: right;
    margin: 0px 10px 3px 0px;
}
.boton-contenedor {
    display: flex;
    justify-content: center;
    margin-right: 140px;
    margin-bottom: 30px;
}

/*TABLETA*/
@media screen and (max-width: 1090px) {
    header{
        display: flex;
        width: auto;
        height: 100px;
        background-color: #fff;
    }
    figure img {
        width: 100px;
        height: 100px;
        margin-left: 30px;
    }
    nav ul {
        display: flex;
        gap: 20px;
        margin-left: 90px;
    }
    .boton-regular {
        margin-top: 20px;
        margin-left: 150px;
        width: 100px;
        height: 30px;
    }
    .contenedor-adopcion {
        background-image: url(../images/web-adopcion-mascotas.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        height: 700px;
        display: flex;
        justify-content: flex-end;
    }
    .contenedor-adopcion h1 {
        margin-right: 170px;
        margin-left: 230px;
        text-align: center;
        font-size: 24px;
        width: 300px;
    }
    #quienes-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quienes-img {
        background-color: orange;
        position: absolute;
        margin-top: 100px;
        margin-left: 100px;
    }
    .quienes-img img {
        width: 500px;
        height: 400px;
        position: relative;
        top: 50px;
        left: 40px;
    }
    .quienes-texto {
        width: 400px;
        height: 400px;
        margin-left: 150px;
        margin-top: 700px;
        text-align: center;
    }
    #blog {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        text-align: center;
        margin-left: 150px;
    }
    .contenedor-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 500px;
        margin: 50px;
        margin-top: 20px;
        margin-left: 190px;
        background-color: rgb(243, 235, 198);
    }
    .contenedor-info img {
        width: 400px;
        height: 200px;
        margin-left: 60px;
        margin-right: 70px;
        margin-top: 40px;
    }
    .contenedor-info p {
        text-align: center;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 400px;
    }
    .contenedor-info a {
        margin-top: 30px;
        margin-left: 130px;
        margin-right: 160px;
    }
    footer {
        display: flex;
        height: 100px;
        width: auto;
    }
    .info-footer {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 15px;
        color: #6c7179;
    }
    .info-footer p {
        font-size: 10px;
    }
    .contenedor-redes {
        margin: 25px 50px 0px auto;
        font-size: 22px;
    }
    .contenedor-redes a {
        color: #6c7179;
    }
    .contenedor-redes p {
        font-size: 18px;
        color: #6c7179;
    }
    /*ACTIVIDADES*/
    .actividades-info {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .actividades-info h1 {
        text-align: center;
    }
    .contenedor-actividad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 600px;
        margin-top: 25px;
        margin-right: 130px;
        background-color: rgb(243, 235, 198);
    }
    .contenedor-actividad img {
        width: 300px;
        height: 200px;
        margin-left: 90px;
        margin-top: 40px;
        margin-right: 70px;
    }
    .contenedor-actividad p {
        text-align: center;
        margin-top: 50px;
        margin-left: 90px;
        margin-right: 80px;
        width: 600px;
    }
    .contenedor-actividad a {
        margin-top: 120px;
        text-align: center;
        margin-left: 110px;
    }

}
/*TABLETA MEDIANA*/
@media screen and (max-width: 960px) {
    nav ul {
        display: flex;
        gap: 20px;
        margin-left: 80px;
    }
    .boton-regular {
        margin-top: 20px;
        margin-left: 80px;
        width: 100px;
        height: 30px;
    }
    .contenedor-adopcion {
        background-image: url(../images/web-adopcion-mascotas.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        height: 700px;
        display: flex;
        justify-content: flex-end;
    }
    .contenedor-adopcion h1 {
        margin-right: 130px;
        margin-left: 230px;
        text-align: center;
        font-size: 24px;
        width: 300px;
    }
    .blog-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        text-align: center;
        margin-left: 120px;
    }
    .contenedor-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 500px;
        margin: 50px;
        margin-top: 20px;
        margin-left: 150px;
        background-color: rgb(243, 235, 198);
    }
    .contenedor-info img {
        width: 400px;
        height: 200px;
        margin-left: 60px;
        margin-right: 70px;
        margin-top: 40px;
    }
    .contenedor-info p {
        text-align: center;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 400px;
    }
    .contenedor-info a {
        margin-top: 30px;
        margin-left: 130px;
        margin-right: 160px;
    }
     /*ACTIVIDADES*/
    .contenedor-actividad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 600px;
        margin-top: 25px;
        margin-right: 130px;
        background-color: rgb(243, 235, 198);
    }

    .contenedor-actividad p {
        text-align: center;
        margin-top: 50px;
        margin-left: 90px;
        margin-right: 80px;
        width: 500px;
    }
    .contenedor-actividad a {
        margin-top: 120px;
        text-align: center;
        margin-left: 110px;
    }
}
/*TABLETA PEQUEÑA*/
@media screen and (max-width: 800px) {
    figure img {
    width: 95px;
    height: 95px;
    margin-left: 20px;
}
    nav ul {
        display: flex;
        gap: 15px;
        margin-left: 30px;
    }
    .boton-regular {
        margin-top: 20px;
        margin-left: 50px;
        width: 100px;
        height: 30px;
    }
     .contenedor-adopcion {
        background-image: url(../images/web-adopcion-mascotas.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        height: 700px;
        display: flex;
        justify-content: flex-end;
    }
     .contenedor-adopcion h1 {
        display: none;
    }
     .quienes-img {
        background-color: orange;
        position: absolute;
        margin-top: 100px;
        margin-left: 80px;
        margin-right: 100px;
    }
    .quienes-img img {
        width: 500px;
        height: 400px;
        position: relative;
        top: 50px;
        left: 40px;
    }
    .quienes-texto {
        width: 400px;
        height: 400px;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 700px;
        text-align: center;
    }
    .blog-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        text-align: center;
        margin-left: 90px;
        margin-right: 110px;
    }
    .contenedor-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 500px;
        margin: 50px;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 110px;
        background-color: rgb(243, 235, 198);
    }
    .contenedor-info img {
        width: 400px;
        height: 200px;
        margin-left: 60px;
        margin-right: 70px;
        margin-top: 40px;
    }
    .contenedor-info p {
        text-align: center;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 400px;
    }
    .contenedor-info a {
        margin-top: 30px;
        margin-left: 130px;
        margin-right: 160px;
    }
}

/*MÓVIL*/
@media screen and (max-width: 540px) {
    .boton-regular {
        display: none;
    }
    /*MENU*/
    #iconomenu {
        display: block;
        margin-top: 30px;
        margin-left: 250px;
        font-size: 30px;
        color: orange;
      }
      .contenedorarriba {
        position: relative;
      }
      nav {
        position: absolute;
        top: 90%;
        left: -110%;
        width: 100%;
        background-color: white;
        transition: all 0.5s;
      }
      .abrirmenu {
        left: 0;
      }
      nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 15px;
      }
      nav ul li {
        border-bottom: 1px orange dotted;
        width: 100%;
        padding-left: 20px;
      }
      nav ul li a {
        color: orange;
        display: block;
      }
    /*INDEX*/
     .contenedor-adopcion {
        background-image: url(../images/web-adopcion-mascotas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        display: flex;
        justify-content: flex-end;
    }
     .contenedor-adopcion h1 {
        display: none;
    }
      .contenedor-adopcion {
        background-image: url(../images/perro-maleta-azul.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        height: 600px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
    }
     .contenedor-adopcion h1 {
        display: none;
    }
     .quienes-img {
        background-color: orange;
        position: absolute;
        margin-top: 5px;
        margin-left: 80px;
        margin-right: 100px;
    }
    .quienes-img img {
        width: 300px;
        height: 300px;
        position: relative;
        top: 40px;
        left: 30px;
    }
    .quienes-texto {
        width: 300px;
        height: 400px;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 500px;
        text-align: center;
    }
    .blog-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        text-align: center;
        margin-left: 90px;
        margin-right: 110px;
        margin-top: 5px;
    }
    .contenedor-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 500px;
        margin: 50px;
        margin-top: 5px;
        margin-left: 120px;
        margin-right: 110px;
        background-color: rgb(243, 235, 198);
    }
    .contenedor-info img {
        width: 300px;
        height: 150px;
        margin-left: 60px;
        margin-right: 70px;
        margin-top: 40px;
    }
    .contenedor-info p {
        text-align: center;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 300px;
    }
    .contenedor-info a {
        margin-top: 20px;
        margin-left: 130px;
        margin-right: 160px;
    }
    /*FIN INDEX*/
    footer {
        display: flex;
        height: 125px;
        width: auto;
        margin-top: 10px;
    }
    .info-footer {
        width: 220px;
        margin-left: 20px;
        margin-bottom: 15px;
        color: #6c7179;
    }
    .info-footer p {
        font-size: 6px;
    }
    .contenedor-redes {
        margin: 25px 50px 0px auto;
        font-size: 21px;
    }
    .contenedor-redes a {
        color: #6c7179;
    }
    .contenedor-redes p {
        font-size: 18px;
        color: #6c7179;
    }
    /*ACTIVIDADES*/
    .contenedor-actividad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 700px;
        margin-top: 25px;
        margin-right: 130px;
        background-color: rgb(243, 235, 198);
    }

    .contenedor-actividad p {
        text-align: center;
        margin-top: 50px;
        margin-left: 90px;
        margin-right: 80px;
        width: 400px;
    }
    .contenedor-actividad a {
        margin-top: 120px;
        text-align: center;
        margin-left: 110px;
    }

}
/*IPHONE*/
@media screen and (max-width: 390px) {
   .boton-regular {
       display: none;
   }
     /*MENU*/
     #iconomenu {
        display: block;
        margin-top: 30px;
        margin-left: 220px;
        font-size: 30px;
        color: orange;
      }
   /*INDEX*/
    .contenedor-adopcion {
       background-image: url(../images/web-adopcion-mascotas.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       height: 600px;
       display: flex;
       justify-content: flex-end;
   }
    .contenedor-adopcion h1 {
       display: none;
   }
     .contenedor-adopcion {
       background-image: url(../images/perro-maleta-azul.jpg);
       background-repeat: no-repeat;
       background-size: auto;
       height: 500px;
       display: flex;
       justify-content: flex-end;
       margin-bottom: 0px;
   }
    .contenedor-adopcion h1 {
       display: none;
   }
    .quienes-img {
       background-color: orange;
       position: absolute;
       margin-top: 5px;
       margin-left: 80px;
       margin-right: 100px;
   }
   .quienes-img img {
       width: 300px;
       height: 300px;
       position: relative;
       top: 40px;
       left: 30px;
   }
   .quienes-texto {
       width: 300px;
       height: 400px;
       margin-left: 120px;
       margin-right: 120px;
       margin-top: 400px;
       text-align: center;
       margin-bottom: 25px;
   }
   .blog-texto h2 {
    margin-top: 30px;
   }
   .blog-texto {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:center ;
       text-align: center;
       margin-left: 90px;
       margin-right: 110px;
       margin-top: 20px;
   }
   .contenedor-info {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 350px;
       height: 500px;
       margin: 50px;
       margin-top: 5px;
       margin-left: 120px;
       margin-right: 110px;
       background-color: rgb(243, 235, 198);
   }
   .contenedor-info img {
       width: 300px;
       height: 150px;
       margin-left: 60px;
       margin-right: 70px;
       margin-top: 40px;
   }
   .contenedor-info p {
       text-align: center;
       margin-top: 20px;
       margin-left: 60px;
       margin-right: 80px;
       width: 300px;
   }
   .contenedor-info a {
       margin-top: 20px;
       margin-left: 130px;
       margin-right: 160px;
   }
   /*FIN INDEX*/
   footer {
       display: flex;
       height: 125px;
       width: auto;
       margin-top: 10px;
   }
   .info-footer {
       width: 200px;
       margin-left: 20px;
       margin-bottom: 15px;
       color: #6c7179;
   }
   .info-footer p {
       font-size: 6px;
   }
   .contenedor-redes {
       margin: 25px 50px 0px auto;
       font-size: 21px;
   }
   .contenedor-redes a {
       color: #6c7179;
   }
   .contenedor-redes p {
       font-size: 18px;
       color: #6c7179;
   }
   /*ACTIVIDADES*/
   .contenedor-actividad {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 400px;
       height: 700px;
       margin-top: 25px;
       margin-right: 130px;
       background-color: rgb(243, 235, 198);
   }

   .contenedor-actividad p {
       text-align: center;
       margin-top: 50px;
       margin-left: 90px;
       margin-right: 80px;
       width: 300px;
   }
   .contenedor-actividad a {
       margin-top: 120px;
       text-align: center;
       margin-left: 110px;
   }

}

/*# sourceMappingURL=style.css.map */
