.contenedor-perrito {
    background-image: url(../images/perrito\ con\ bolsa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: flex-end;

    @include tablet {
        width: 100%;
        height: 500px;
    }

    @include mobilel {
        object-fit: fill;
        width: 100%;
        height: 400px;
    }

     h1 {
    margin: 200px 700px 0px 100px;
    text-align: center;
    width: 550px;
    color: #fff;

    @include tablet {
        display: none;
    }
    }
}
.adopta-canino {
    text-align: center;
    margin: 20px;
}
.contenedor-adopciones {
    display: flex;
    justify-content: space-evenly;

    @include mobilel {
        flex-direction: column;
    }

}
.info-canino {
    margin: 0px 20px 15px 50px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 300px;
    height: 450px;

    @include tablet {
        width: 225px;
        margin: 0px 10px 15px 10px;
        height: 400px;
    }

    img {
    width: 270px;
    height: 200px;
    margin: 10px;
    padding: 5px;

    @include tablet {
        width: 210px;
        margin: 10px 3px 3px 3px;
    }
    }
    p {
        margin-top: 0px;
    margin-left: 18px;
    width: 250px;
    text-align: center;

    @include tablet {
        width: 200px;
        margin: 0px 0px 0px 15px;
    }
    }
}
.link2 {
    @extend .seguir-leyendo;
    margin-top: -15px;
    margin-left: 96px;

    @include tablet {
        margin-top: 0px;
        margin-left: 60px;
    }
}

.boton-contenedor {
    margin-top: 30px;
    margin-left: 110px;
    width: 120px;
    height: 40px;
    border: 2px orange solid;
    border-radius: 5px;
    background-color: white;

     a {
    text-decoration: none;
    color: orange;
    font-weight: 700;
    }

    @include tablet {
        margin-right: 80px;
        margin-bottom: 10px;  
        height: 60px;
    }

   
}