header{
    display: flex;
    max-width: 1200px;
    height: 100px;
    background-color: #fff;
}

figure img {
    width: 100px;
    height: 90px;
    margin-left: 90px;
    padding-bottom: 15px;
}

nav ul {
    display: flex;
    gap: 40px;
    margin-top: 35px;
    margin-left: 100px;

    li {
        list-style: none;
    }
     a {
        text-decoration: none;
        color: #6c7179;
        font-weight: bold;
        font-size: 16px;
        text-shadow: 2px;
    }
}

.boton-regular {
    margin-top: 30px;
    margin-left: 110px;
    width: 120px;
    height: 40px;
    border: 2px orange solid;
    border-radius: 5px;
    background-color: white;

     a {
    text-decoration: none;
    color: orange;
    font-weight: 700;
    }
}

#iconomenu {
    display: none;
}

footer {
    display: flex;
    height: 100px;

    .info-footer {
        width: 300px;
        margin-left: 50px;
        margin-bottom: 15px;
        color: #6c7179;
    }
    .info-footer p {
        font-size: 10px;
    }
    .contenedor-redes {
        margin: 25px 50px 0px 800px;
        font-size: 22px;
    }
    .contenedor-redes a {
        color: #6c7179;
    }
    .contenedor-redes p {
        font-size: 18px;
        color: #6c7179;
    }
}
