.titulo-contacto {
    text-align: center;
}
.mail {
    width: 900px;
    height: 400px;
    display: flex;
}
.mail figure {
    margin: 20px 0px 0px 200px;
}
.mail figure img {
    width: 300px;
    height: 200px;
}
.mail p {
    margin: 30px 0px 0px 200px;
    width: 200px;
}
.redes-sociales {
    width: 900px;
    height: 400px;
    display: flex;
}
.redes-sociales figure {
    margin: 20px 0px 0px 200px;
}
.redes-sociales figure img {
    width: 300px;
    height: 200px;
}
.iconos-redes {
    width: 400px;
    height: 200px;
    margin: 25px 0px 0px 200px;
}
.fb-in {
    margin: 10px 0px 15px 0px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}
.fb-in a {
    color: black;
}
.whats {
    margin: 15px 0px 5px 0px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}
.whats a {
    color: black;
}