.contenedor-adopcion {
    background-image: url(../images/web-adopcion-mascotas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-end;

    h1 {
        margin-top: 130px;
        margin-right: 200px;
        margin-left: 250px;
        text-align: center;
        font-size: 30px;
        width: 500px;
        color: #fff;

        @include tablet {
            display: none;
        }

        @include mobilel {
        display: none;
        }
        }

        @include tablet {
            width: 100%;
        }

        @include mobilel {
        width: 100%;
        background-size: cover;
        height: 300px;
        }
}

#quienes-somos {
    display: flex;

    @include tablet {
        display: flex;
        flex-direction: column;
    }
}
.quienes-img {
    background-color: #ffa500;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;

    @include tablet {
        margin-top: 60px;
        margin-left: -20px;
    }

    @include mobilel {
        margin-left: -15px;
    }

}
.quienes-img img {
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 40px;

    @include mobilel {
    width: 270px;
    height: 200px;
    }
}
.quienes-texto {
    width: 400px;
    height: 400px;
    margin-left: 800px;
    margin-top: 200px;
    text-align: center;

    @include tablet {
        margin-left: 20px;
        margin-top: 600px;
    }

    @include mobilel {
        width: 250px;
        height: 300px;
        margin-left: 0px;
        margin-top: 350px;
    }
}
.blog-texto {
    text-align: center;
    margin-top: 60px;

    @include mobilel {
        text-align: center;
        width: 300px;
        margin-left: 130px;
    }
}

.blog-info {
    @include tablet {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.contenedor-info {
    display: flex;
    width: 1120px;
    height: 350px;
    margin: 100px;
    margin-top: 25px;
    background-color: rgb(243, 235, 198);


    @include tablet {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include mobilel {
        width: 380px;
        height: 600px;
    }

    p {
        text-align: left;
        margin-top: 80px;
        margin-left: 100px;
        height: 120px;
    
        @include tablet {
            margin-top: 25px;
            text-align: center;
            width: 200px;
            margin-left: 0px;
        }
        }

        img {
            width: 300px;
            height: 200px;
            margin-left: 200px;
            margin-top: 40px;
        
            @include tablet {
                margin-left: 0px;
            }
        }
}

.seguir-leyendo {
    display: flex;
    flex-direction: row;
    margin-top: 280px;
    margin-right: 100px;
    width: 150px;

    a {
        font-size: 11px;
        font-weight: 700;
        white-space: nowrap;
        text-decoration: none;
        color: #f0a00c;
    }

    @include tablet {
        margin-top: 10px;
        margin-right: -10px;
    }
}